.mainPage{
    min-height: 100vh;
    background-color: #1b1c19;
    color: white;
    width: 100%;
    text-align: center;
}

.inputCreator{
    height: 50px;
    width: 40%;
    margin: 40px auto;
    text-align: left;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    border: 1px solid #666;
    border-radius: 10px;
    color: white;
    font-size: 1em;
}

.snippet{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
    padding: 0;
    width: 30%;
    font-size: 1em;
    /* height: 350px; */
    border-radius: 10px;
    border: 1px solid #666;
    background: none;
    color: white;
    margin: 1.5%;
    text-align: left;
    transition: 0.25s;
    cursor: pointer;
}

.snippet:hover{
    box-shadow: 0 0 30px #444;
    transition: 0.25s;
}

.snippetContent{
    margin-top: 0;
    padding: 20px;
    border-bottom: 1px solid #666;
    position: relative;
    word-wrap: break-word;
    overflow: hidden;
    height: 14em; /* (Number of lines you want visible) * (line-height) */
    line-height: 1.5em;
    text-align:left;
  
}

.snippetTitle{
    padding-left: 20px;
    margin: 25px 0 22px 0;
    font-size: 1.5em;
    font-family: FiraSans;
}

.snippetTag{
    border: 1px solid #ef273e;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1em;
    height: 30px;
    color: white;
    font-family: FiraSans;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

.snippetTagInput{
    background-color: transparent;
    border: 1px solid #ef273e;
    border-radius: 7px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 1em;
    height: 30px;
    color: white;
    font-family: FiraSans;

    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.tagContainer{
    display: flex;
    justify-content: right;
    margin: 10px;
}

.snippetContainer{
    width: 90%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}

.content{
    transition: margin-left 0.3s;
}

.content-menu-aberto{
    margin-left: 15%;
}