.backShadow{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 10000;
    background-color: #2b2b2bac;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
}


.closeIcon{
    background: none;
    border: none;
    position: absolute;
    left: 96%;
    top: 3vh;
    outline: none;
    cursor: pointer;
}

.closeIcon > img{
    width: 15px;
}



.popupSnippet{
    position: fixed;
    top: 10vh;
    left: 15%;
    border-radius: 20px;
    height: 80vh;
    width: 70%;
    background-color: #1b1c19;
    border: 1px solid #1b1c19;
    box-shadow: 0 0 50px #1b1c19;;
    display: flex;
    /* padding: 20px; */
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.snippetErrorDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.snippetDisplay{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.leftPopUp{
    width: 70%;
    margin-right: 7px;
}

.leftPopUp > textarea{
    width: 100%;
    height: 100%;
    padding: 25px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    outline: none;
    background:none;
    border: none;
    color: white;
    font-size: 1.1em;
    line-height: 1.7em;
    resize: none;
    scrollbar-width: thin;
}

textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 5px;

    cursor: pointer;
}

textarea::-webkit-scrollbar-track {
    margin: 8px 0;
    background-color: #1b1c19;
}


.columnFlexPopUP{
    display: flex;
    flex-direction: column;
}

.columnFlexPopUP > button{
    height: 40px;
    background: none;
    border: none;
    color: white;
    border: 1px solid #ef273e;
    font-size: 1em;
    border-radius: 10px;
    margin: 8px 0;
    cursor: pointer;
    transition: 0.25s;
    font-weight: bolder;
}

.tagContainerPopUp{
    display: flex;
    justify-content: left;
}

.columnFlexPopUP > button:hover{
    transition: 0.25s;
    background-color: #ef273e;
}



.rightPopUp{
    text-align: left;
    width: 30%;
    padding: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-left: 1px solid #555;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}